* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  line-height: 1;
  font-family: 400;
  color: #555;
  /* scroll-behavior: smooth; */
}
/* ### HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 2.2rem;
}
/* ###Navigation */
.nav {
}
.navlists {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-self: center;
}
.navlist:link,
.navlist:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.navlinkspe{
  background-color: #e67e22;
border-radius: 1rem;
padding: 1.2rem;
color: white;
}
.navlist:hover,
.navlist:active {
  color: #e67e22;
}
/* .navlist.navlinkspe:link,
.navlist.navlinkspe:visited {
  background-color: #e67e22;
  padding: 4.8rem 0 9.6rem 0;
  border-radius: 9px;
}
.navlist.navlinkspe:hover,
.navlist.navlinkspe:active {
  background-color: #e67e22;
} */

/* ######HERO SECTION */
.herogrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 125rem;
  margin: 0 auto;
  align-items: center;
  gap: 9.5em;
  padding: 0 3.2rem;
}
.heroimg {
  width: 100%;
}
.headprimaray,
.heading-secondary {
  color: #333;
  color: #45260a;
  letter-spacing: -0.5px;
  font-weight: 700;
}
.headprimaray {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  font-family: "hammersmith", sans-serif;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.herodescription {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.sectionhero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.btn,
.btn:link,
.btn:visited {
  /* background-color: #e67e22; */
  /* color: #fff; */
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 16px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}
.btnfull:link,
.btnfull:visited {
  background-color: #e67e22;
  color: white;
  margin-right: 1.6rem;
}
.btnfull:hover,
.btnfull:active {
  background-color: #e67e22;
}
.btnout:link,
.btnout:visited {
  background-color: white;
  color: #555;
}
.btnout:hover,
.btnout:active {
  background-color: white;
  /* border: solid 3px #fff; */
  box-shadow: inset 0 0 0 3px #fff;
}
.delivaredmeals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
}
.delivaredimg {
  display: flex;
}
.delivaredimg img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fff;
}
.delivaredtext {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivaredimg img:last-child {
  margin: 0;
}
.delivaredtext span {
  color: #e67e22;
  font-weight: 700;
  margin-left: 2rem;
}

.headingfeature {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #999;
}
.secfeatures {
  padding: 3.2rem 0 3.2rem 0;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* ###sec how */
.sechow {
  padding: 9.6rem 0;
}
/* .sechow div {
  padding: 100px;
  font-size: 50px;
}
.sechow div:nth-child(1) {
  background-color: aqua;
}
.sechow div:nth-child(2) {
  background-color: blue;
}
.sechow div:nth-child(3) {
  background-color: violet;
}
.sechow div:nth-child(4) {
  background-color: yellow;
} */
/* 
} */
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  margin-bottom: 9.6rem;
}
/* .grid:last-child {
  margin-bottom: 0; */

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.gridvertical {
  align-items: center;
}
.grid2col {
  grid-template-columns: repeat(2, 1fr);
}
.grid3col {
  grid-template-columns: repeat(3, 1fr);
}
.grid4col {
  grid-template-columns: repeat(4, 1fr);
}
.grid5col {
  grid-template-columns: repeat(5, 1fr);
}
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.stepimg {
  width: 50%;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #e67e22;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.stepnumber {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.stepdescription {
  font-size: 2rem;
  line-height: 1.8em;
}
.stepimgbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.stepimg {
  width: 35%;
  z-index: -1;
}
.stepimgbox::before {
  /* height: 50%; */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  width: 60%;
  z-index: -2;
}
.stepimgbox::after,
.stepimgbox::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stepimgbox::after {
  width: 45%;
  padding-bottom: 50%;
  background-color: #fae5d3;
  z-index: -2;
}

/* ### meal how */
.secmeals {
  padding: 9.6rem 0;
}
.mealimg {
  width: 100%;
}
.mealtittle {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.mealattribute {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.mealicons {
  color: #e67e22;
  height: 2.4rem;
  width: 2.4rem;
}
.mealicon {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
strong {
  font-weight: 500;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #333;
  border-radius: 50px;
  font-weight: 100;
  border-radius: 100px;
}
.mealtags {
  margin-bottom: 1.2rem;
  font-display: flex;
  gap: 0.4rem;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  padding: 4.8rem;
  transition: all 0.4s;
}
.meal:hover {
  transform: translate(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
}
.mealcontent {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  font-weight: 600;
}
.mealtittle {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.tagveg {
  background-color: #51cf66;
}
.tagvegan {
  background-color: #94d82d;
}
.tagpaleo {
  background-color: #ffd43b;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.listicon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
.listitem {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.allreceipe {
  display: flex;
  text-align: center;
  font-size: 1.8rem;
}
.receipelink:link,
.receipelink:visited {
  display: block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.receipelink:hover,
.receipelink:active {
  color: #e67e22;
  border-bottom: 1px solid transparent;
}
.contenttext {
  text-align: center;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonialcontainer {
  padding: 9.6rem;
}
.testimonialimg {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonialtext {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonialname {
  font-size: 1.6rem;
  color: #777;
}
.galleryitem img {
  display: block;
  width: 100%;
}
.sectestimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 55fr;
  align-items: center;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
  margin-bottom: 1.3rem;
  transition: all 0.4s;
}
.gallery img:hover {
  transform: scale(1.1);
}
.galleryitem {
  overflow: hidden;
}
.secprice {
  padding: 9.6rem 0;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.listicon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
.listitem {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.planname {
  color: #e67e22;
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.planprice {
  font-size: 7.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.planheader {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plantext {
  font-size: 1.6rem;
  line-height: 1 0.6;
  color: #61;
}
.planprice span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plansign {
  text-align: center;
  margin-top: 4.8rem;
}
.priceplan {
  background-color: #fdf2e9;
  border-radius: 11px;
  /* text-align: center; */

  width: 75%;
}
.priceplanstart {
  justify-self: end;
  border: 2px solid rgb(244, 224, 224);
  padding: 4.6rem;
  background-color: white;
}
.priceplancomplete {
  background-color: white;
  padding: 4.8rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #fdf2e9;
  overflow: hidden;
}
.priceplancomplete::after {
  content: "Best Value";
  position: absolute;
  background-color: #ffd43b;
  top: 6%;
  right: -18%;
  padding: 0.8rem 8rem;
  color: #333;
  transform: rotate(45deg);
}
.featureicon {
  color: #e67e22;
  height: 2.4rem;
  width: 2.4rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
}
.featuretittle {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.featuretext {
  font-size: 1.8rem;
  line-height: 1.8;
}
.plandetails {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}
.seccta {
  padding: 4.8rem 0 12.8rem 0;
  
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  /* height: 50rem; */
  border-radius: 11px;
  background-image: linear-gradient(to right,#e67e22), #e67e22);
  overflow: hidden;
}
.ctatext{
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;

}
.ctatextbox{
  padding:4.8rem 6.4rem 6.4rem 6.4rem ;
  color: #2e1907;
  padding: 6.4rem;
}
.cta .heading-secondary{
  color: #2e1907;
  margin-bottom: 3.2rem;

}
.ctaimg{
  
  background-size: cover;
  background-image: linear-gradient(to right bottom,rgba(235,151,78,0.35),rgba(235,151,78,0.35)),url("../img/eating.jpg");
  background-position: center;
}
.ctaform{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.ctaform label{
display: block;
font-size: 1.6rem;
font-weight: 500;
margin-bottom: 1.2rem;
}
.ctaform input,
.ctaform  select{
  width: 100%;
  padding: 1.2rem;
  font-size:1.8rem ;
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0,0,0,1);
  color: inherit;

}
.ctaform select{
  
}
.ctaform::placeholder{
  color: #aaa;

}
.ctaform button{

}
.btnform{
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
}
.btnform:hover{
  background-color: #fff;
  color: #555;
}
 *:focus{
  outline: none;
  /* outline:4px dotted #e67e22;
  outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem #482c14;

} 
.cta *:focus{
  outline: none;
  /* outline:4px dotted #e67e22;
  outline-offset: 8px; */;
  box-shadow: 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
.footer{
  padding: 9.6rem 0;
  border-top: 1px solid #eee;
}
.footerhead{
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}
.footernav{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footerlink,
.footerlink:link,
.footer:visited{
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all .3s;
}
.footerlink:hover,
.footerlink:active{
  color: #555;
}
.footerlogo{
  display: block;
  margin-bottom: 3.2rem;
}
.socialicon{
  height: 2.4rem;
  width: 2.4rem;
  stroke: #333;
  color: #333;

}
.sociallink{
  display: flex;
  gap: 2.4rem;
  list-style: none;
}
.copyright{
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;

}
.logocol{
  display: flex;
  flex-direction: column;
}
.contacts{
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address{
  margin-bottom:2.4rem ;
}
.gridfooter{
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.sticky{
  position: fixed;
  top:0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
height: 8rem;
padding-top: 0;
padding-bottom: 0;
box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.1);
}


/* @media (max-width: 1200px){
  .sechero{
    background-color: red;
  } */


